:root {
	--background-card: #FFFFFF;
	--gray: #EAEAEC;
	--primary: #29283F;
	--primary-violet: #7370F4;
}

.page-works {
	place-items: center;
	height: 100vh;
	font-family: Poppins, sans-serif;
}

.page-works .container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(min(43rem, 100%), 1fr)); */
	grid-template-columns: 1fr;
	justify-items: center;
    gap: 1rem;
	width: 100%;
	max-width: 100vw;
}

.card {
	display: flex;
	flex-wrap: wrap;
	border-radius: 24px;
	background-color: var(--background-card);
	cursor: pointer;
	overflow: hidden;
	max-width: clamp(320px, 70vw, 740px);
	min-width: 320px;
	min-height: 265px;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image {
	flex: 1 1 250px;
}

.card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content-text {
	flex: 3 1 350px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 16px;
}

.content-text > h2 {
	font-size: clamp(1.3rem, 2vw, 1.8rem);
	font-weight: 700;
	margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
}

.content > p {
	font-size: clamp(1rem, 1.75vw, 1.1rem);
	font-weight: 400;
	margin: 6px 0px;
}

.content a {
	color: var(--primary-violet);
}

.chips {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 12px 0px 16px 0px;
}

.chip {
	border-radius: 12px;
	padding: 10px;
	font-size: 15px;
	background-color: var(--gray);
	transition: all 0.3s;
	font-weight: 500;
}

.chip:hover {
	background-color: var(--primary-violet);
	color: var(--gray);
}

.action-buttons {
	border-top: 1px solid var(--gray);
	padding-top: 16px;
	gap: 12px;
	display: flex;
	margin-top: auto;
	flex-wrap: wrap;
}

.action-buttons a {
	background-color: var(--primary);
	color: #FFF;
	padding: 12px;
	text-decoration: none;
	border-radius: 12px;
	outline: none;
	border: none;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	flex: 1 0 240px;
	max-width: 100%;
}

.action-buttons a:hover {
	text-decoration: underline;
}

.action-buttons a.secondary {
	background-color: #fff;
	color: var(--primary);
	border: 1px solid var(--primary);
	flex: 1 0 80px;
}


/************************************************************/
/************************** OPTION 2 **************************/
/************************************************************/


h3 {
	margin: 0 0 10px;
	font-size: 28px;
	line-height: 36px;
}

.cards {
	padding: 3rem 0rem;
}

.cards .owl-stage {
	margin: 15px 0;
	display: flex;
	display: -webkit-flex;
}

.cards .card-image {
	margin: 0 30px 60px 0;
	width: 320px;
	height: 440px;
	display: flex;
	display: -webkit-flex;
	align-items: flex-end;
	-webkit-align-items: flex-end;
	background: #343434 no-repeat center center / cover;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.cards .card-image.active {
	width: 500px;
	box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.cards .card-image:after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.cards .content-text {
	padding: 0 24px 12px;
	color: #fff;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transform: translateY(calc(100% - 54px));
	-webkit-transform: translateY(calc(100% - 54px));
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.cards .card-image.active .content-text {
	transform: none;
	-webkit-transform: none;
}

.cards .content-text p {
	opacity: 0;
	-webkit-transform: translateY(32px);
	transform: translateY(32px);
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
}

.cards .card-image.active .content-text p {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.cards.owl-theme.custom-carousel .owl-dots {
	margin-top: -20px;
	position: relative;
	z-index: 5;
}

@media (min-width: 992px) and (max-width: 1199px) {
	h3 {
		margin: 0 0 8px;
		font-size: 24px;
		line-height: 32px;
	}

	.cards {
		padding: 50px 30px;
	}

	.cards .card-image {
		margin: 0 12px 60px;
		width: 260px;
		height: 360px;
	}

	.cards .card-image.active {
		width: 400px;
	}

	.cards .content-text {
		transform: translateY(calc(100% - 46px));
		-webkit-transform: translateY(calc(100% - 46px));
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	h3 {
		margin: 0 0 8px;
		font-size: 24px;
		line-height: 32px;
	}

	.cards {
		padding: 50px 30px 40px;
	}

	.cards .card-image {
		margin: 0 12px 60px;
		width: 240px;
		height: 330px;
	}

	.cards .card-image.active {
		width: 360px;
	}

	.cards .content-text {
		transform: translateY(calc(100% - 42px));
		-webkit-transform: translateY(calc(100% - 42px));
	}
}

@media (max-width: 767px) {
	body {
		font-size: 14px;
	}

	h3 {
		margin: 0 0 8px;
		font-size: 19px;
		line-height: 24px;
	}

	.cards {
		padding: 30px 15px 20px;
	}

	.cards .card-image {
		margin: 0 10px 40px;
		width: 200px;
		height: 280px;
	}

	.cards .card-image.active {
		width: 270px;
		box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
	}

	.cards .content-text {
		padding: 0 14px 5px;
		transform: translateY(calc(100% - 42px));
		-webkit-transform: translateY(calc(100% - 42px));
	}
}
