<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"              content="width=device-width, initial-scale=1.0">

<meta name="description"           content="Portfolio pessoal para apresentação de websites desenvolvidos" />
<meta name="keywords"              content="Portfolio, Projetos, Desenvolvedor, São Paulo, Barueri, Carapicuíba, Granja Viana, Osasco" />
<meta name="robots"                content="index, nofollow" />
<meta name="rating"                content="general" />

<meta name="fb_admins_meta_tag"    content="{{userInfo.user_login}}" />
<meta name="twitter:title"         content="{{userInfo.user_login}}" />
<meta name="twitter:description"   content="Portfolio pessoal para apresentação de websites desenvolvidos" />

<meta name="author"                content="{{userInfo.user_name}}" />
<meta name="copyright"             content="{{userInfo.user_name}}" />

<meta property="og:url"            content="https://{{userInfo.user_login}}.github.io/portfolio/" />
<meta property="og:title"          content="Portfolio" />
<meta property="og:site_name"      content="Portfolio" />
<meta property="og:description"    content="Portfolio pessoal para apresentação de websites desenvolvidos" />
<meta property="og:type"           content="website" />
<meta property="fb:admins"         content="{{userInfo.user_login}}" />

<link rel="icon" href="/images/favicon.ico" type="image/x-icon" sizes="any">
