{% block navbar %}
<nav class="navigation">
	<ul class="nav-list">
		<li id="home">
			<a href="/">
				<span class="material-symbols-outlined no-filled symbol-md">home</span>
				Home
			</a>
		</li>
		<li id="profile">
			<a href="/profile">
				<span class="material-symbols-outlined no-filled symbol-md">id_card</span>
				Profile
			</a>
		</li>
		<li id="works">
			<a href="/works">
				<span class="material-symbols-outlined no-filled symbol-md">work</span>
				Works
			</a>
		</li>
		<li id="experience">
			<a href="/experience">
				<span class="material-symbols-outlined no-filled symbol-md">work_history</span>
				Experience
			</a>
		</li>
		<li id="">
			<a href="/contact">
				<span class="material-symbols-outlined no-filled symbol-md">contact_phone</span>
				Contact
			</a>
		</li>
		<div class="active-bar"></div>
	</ul>
</nav>
{% endblock %}
